*{
    margin: 0;
    background-color: darkgray;
}

.navContainerOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 2px solid lightgrey; */
}

.bbcLogo{

    border-radius: 4px;
    max-width: 7%;
    height: auto;
    margin-left: 300px;
    /* border: 1px solid red; */

}

.navContainerTwo{
    display: flex;
    justify-content: center;
    border: 2px solid lightgrey;
}

li{
    display: flex inline;
    flex-direction: row;
}

a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color:black;
}

a:hover {
    background-color: lightgrey;
}